#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  text-align: left;
  align-items: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header-actions {
  margin-left: 40px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content-container {
  text-align: left;
}

{{/* Main */}}

.post-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-item-details {
  display: flex;
  margin-top: 5px;
}

.post-item-votes {
  margin-right: 20px;
}

.vote-count {
  text-align: center;
}

.post-switcher {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.seperator {
  margin-right: 10px;
  margin-left: 10px;
}

.vote-arrow {
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(106%);
}

.vote-arrow__up {
  transform: rotate(0.75turn);
}

.vote-arrow__down {
  transform: rotate(0.25turn);
}

{{/* Register */}}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 500px; 
  border: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-top: 10px;
}
